body{
    background-color: #E5E5E5;
}



@media screen and (max-width:1600px){
.image{
    position: absolute;
width: 191px;
height: 191px;
left: 100px;
top: 357px;
box-sizing: border-box;
border-radius: 50%;
}
.nom{
position: absolute;
width: 285px;
height: 26.01px;
left: 80px;
top: 564.32px;

font-family: Montserrat;
font-size: 20px;
line-height: 120%;
color: #344051;
}
.desc{
position: absolute;
width: 269.83px;
height: 18.42px;
left: 80px;
top: 594.66px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
color: #6C7B88;
}
.Abonnement{
    position: absolute;
width: 380px;
height: 139px;
left: 30px;
top: 689px;
background: #F4F5F7;
border-radius: 8px;
}
.Demande{

position: absolute;
height: 17px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
color: #293340;
left: 7%;
}
.form-control{
    position: absolute;
width: 340px;
height: 40px;
left: 10px;
background: #FFFFFF;
border-radius: 4px;
}
.btn{
position: relative;
height: 40px;
left: 0px;
background: #AA9033;
border-radius: 4px;
}
.fonction{
    width:5%;
    height:  5.42px;
     background-color:#AA9033;
     clear: both;
     margin-top:100px;
     position: absolute;
     left: 180px;
     top: 525.08px;
}
.titre{
    position: absolute;
    width: auto;
    height: 30px;
    left: 481.13px;
    top: 357px;
    font-family: Gotham Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    color: #344051;
}
.fa-twitter
{
    color: #FFFFFF;
 background-color:#00ACEE;
 border-radius: 50%;
 padding:5px;
 
}
.fa-facebook-f{
    color: #FFFFFF;
 background-color: #3B5998;
 border-radius: 50%;
 padding:5px;
 width: 25px;
 height: 25px;
 

}
.fa-invision {
    color: #FFFFFF;
 background-color:#0077B5;
 border-radius: 50%;
 padding:5px;


}

.texte{
    position: absolute;
width: 792.06px;
height: 50px;
left: 482px;
top: 450px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14.5px;
line-height: 170%;
color: #293340;
}

}

@media screen and (max-width:768px){

.image{
    width: 153px;
height: 153px;
left: 50px;
}
.nom{
        position: absolute;
        width: 200px;
        height: 16px;
        left: 40px;
        top: 510px;
}
.desc{
    position: absolute;
    width: 220.83px;
    height: 10.42px;
    left: 40px;
    top: 580.66px;

}
.fonction{
    width:10%;
    height: 2px;
     margin-top:100px;
     position: absolute;
     left: 100px;
     top: 500px;
}
.Abonnement{
    position: absolute;
width: 209px;
height: 153px;
left: 30px;
}
.Demande{

    position: absolute;
    width: 191px;
    height: 34px;
    left: 30px;
}


    .btn{
        position: relative;
        height: 40px;
        width: 160px;
        left: 10px;}
        .titre{
            position: absolute;
            width: auto;
            height: 30px;
            left: 300px;
            top: 357px;}

            .texte{
                position: absolute;
            width: 400px;
            height: 50px;
            left: 300px;
            top: 450px;}

}
@media screen and (max-width:360px){

.titre{
            position: absolute;
            width: auto;
            height: 30px;
            left: 0px;
            top: 357px;}

            .texte{
                position: absolute;
            width: 360px;
            height: 50px;
            left: 0px;
            top: 450px;}

.image{
top: 1700px;
left: 90px;
}
.nom{
    left: 90px; 
    top: 1860px;
}
.desc{
    left: 90px;
    top: 1930px;

}
.fonction{
    width:15%;
    height: 2px;
    top: 1880px;
    left: 150px;
}
.Abonnement{
  
top: 2000px;
left: 80px;

}
.Demande{

    
    left: 0px;}
}